
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  font-family: monospace;
  color: #0f0;
  overflow: hidden;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 1;
}

#terminal {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
  background: #000;
  color: #0f0;
  padding: 10px;
  font-size: 0.9em;
  overflow-y: auto;
  border-top: 2px solid #0f0;
  z-index: 1000;
}
